<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.verticaltickets">

    <application
        android:allowBackup="true"
        android:icon="@drawable/kisspng_airplane_aircraft_clip_art_portable_network_graphi_flying_plane_png_photos_png_5ba3da52e6fab1_0634090515374649149461"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VerticalTickets">


        <activity android:name=".AboutUs"></activity>
        <activity android:name=".Dashboard" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".ChooseDay" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>